* {
    font-family: Roboto mono, sans-serif;
}


#navbar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 280px;
    background: #00adbb;
    padding-top: 20px;
    color: rgb(250, 171, 171);
    font-size: 16px;
  }
  
  #main-doc {
    padding: 20px 20px 30px 300px;
  }

  #navbar header {
    padding-left: 10px;
    font-size: 1.2em;;
    font-weight: 700;
  }

  #navbar ul {
    height: 90%;
    padding: 0;
  }
  
  #navbar li {
    list-style: none;
    position: relative;
    width: 100%;
  }
  
  #navbar a {
    display: block;
    padding: 10px 30px;
    color: #e5d6d6;
    text-decoration: none;
    cursor: pointer;
  }

  #navbar li:hover {
    padding-left: 10px;
    color: #fff9f9;
  }

  #main-doc header {
    font-size: 2em;
    padding: 30px 0 10px 0;
    font-weight: 600;
  }

  code {
    display: block;
    width: 60%;
    min-width: 300px;
    padding: 15px;
    margin: 20px 0;
    font-weight: 300;
    font-style: oblique;
    background-color: #e8e8e8;
    color: black;
    border-radius: 5px;
    white-space: pre-line;
  }


  @media (max-width: 650px){
    #navbar{
      position: relative;
      height: 250px;
      width: 100%;
      margin: 0;
      background-color: #00adbb;
      padding-bottom: 15px;
    }

    #navbar ul {
      overflow-y: auto;
      overflow-x: hidden;
    }

    body {
      padding: 0;
    }

    #main-doc {
      padding: 15px;;
    }
  }