<!DOCTYPE html>
<html lang="en" data-color-mode="dark">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>МосШахКлуб</title>
    <link rel="icon" type="image/x-icon" href="/assets/favicon2.ico">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/dialog.css">
    <link rel="stylesheet" href="styles/loader.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@400;600;800&family=Roboto+Mono:wght@100;300;400;600;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d6a8ce8d77.js" crossorigin="anonymous"></script>
    <script>
        function showPage() {
            setTimeout(() => {
                document.getElementById("loader").style.display = "none";
                document.getElementById("content").style.display = "block";
            }, 1000);
        }
    </script>
</head>
<body onload="showPage()">
    <div id="loader" class="loader">Loading...</div>
    <div id="content" style="display: none">
    <div class="toggle off" onclick="toggleButton()" id="my-toggle">
        <span class="color_cheme_icons">
            <i class="fas fa-sun"></i>
            <i class="fas fa-moon"></i>
        </span>
    </div>
    <div class="people">
        <div id="result"></div>
        <div id="playAgain"></div>
        <div id="newGame"></div>
        <div class="person">
            <div id="moveW"></div>
            <div id='motya' class="person__container">
                <img class="person__circle" src="assets/chesspattern2.png" alt="chess pattern background">
                <img class="person__img" src="assets/matvey3.png" alt="matvey sokolovsky">
            </div>
            <div class="person__info">
                <h2 class="person__name">матвей<br>гроссмейстер</h2>
            </div>
        </div>
        <div class="person">
            <div id="moveB"></div>
            <div id='vanya' class="person__container">
                <img class="person__circle" src="assets/chesspattern2.png" alt="chess pattern background">
                <img class="person__img" src="assets/vanya4.png" alt="vanya vor">
            </div>
            <div class="person__info">
                <h2 class="person__name">ваня<br>вор</h2>
            </div>
        </div>
    </div>
    <script src="./scripts/script.js"></script>
    <script type='module' src="./scripts/dialog.js"></script>
    <script type="module" src="./scripts/fifaTournament.js"></script>
  <footer>
</footer>
</div>
</body>
</html>