.moves {
    border-radius: 15px;
    padding: 10px;
    white-space: nowrap;
    user-select: none;
    position: absolute;
    width: auto;
    top: -27%;
    transition: border-color var(--color-scheme-change) ease-out;
    /* box-shadow: 0 0 5px var(--tail-color); */
}

#movePlayerOne {
    left: 70%;
    transform-origin: bottom left;
}

#movePlayerTwo {
    transform: scaleX(-1);
    right: 70%;
    transform-origin: bottom right;
}

#movePlayerOne::before,
#movePlayerTwo::before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 20px 20px 0 0px;
    border-color: var(--tail-color) transparent transparent var(--tail-color);
    bottom: -24px;
    transition: border-color var(--color-scheme-change) ease-out;
}

#movePlayerOne::before {
    transform: skew(-10deg);
    left: 7px;
}

#movePlayerTwo::before {
    transform: scaleX(-1) skew(-10deg);
    right: 7px;
}


#movePlayerOne.animate-in,
#movePlayerTwo.animate-in,
#resContainer.animate-in {
    animation: transform 0.5s ease;
    animation-fill-mode: forwards;
}

#movePlayerOne.animate-out,
#movePlayerTwo.animate-out,
#resContainer.animate-out {
    animation: transform-reverse 0.25s ease;
    animation-fill-mode: forwards;
}

#resContainer {
    position: absolute;
    top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
    line-height: 1;
    z-index: 1;
}

#result {
    font-size: 32px;
    padding: 10px;
}

.menu {
    padding: 7px;
    text-align: center;
    width: 100%;
    font-size: smaller;
    transition: 0.2s ease;
    text-decoration: underline;
}

.menu:hover {
    scale: 1.2;
}

@media only screen and (max-width: 450px) {

    .person__name {
        font-size: 22px;
        line-height: 1.2;
        user-select: none;
    }

    #motya {
        right: 100px;
        margin: auto;
    }

    #vanya {
        left: 100px;
        margin: auto;
    }

    #name_motya {
        position: absolute;
        text-align: left;
        top: 72px;
        left: 100px;
    }

    #name_vor {
        position: absolute;
        text-align: right;
        bottom: 166px;
        right: 100px;
    }


    #movePlayerOne {
        top: 72%;
        left: auto;
        left: 30%;
        transform-origin: top left;
    }

    #movePlayerTwo {
        top: -20%;
        right: auto;
        right: 20%;
        transform-origin: bottom right;
    }

    #movePlayerOne::before {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 20px 20px 0 0px;
        border-color: var(--tail-color) transparent transparent var(--tail-color);
        left: auto;
        left: 17px;
        bottom: auto;
        bottom: -20px;
        transform: scaleX(-1) skew(-10deg) translateY(-4rem) rotate(180deg);

    }


    #resContainer {
        top: 288px;
        font-size: large;
    }

    #result {
        font-size: 42px;
        padding: 7px;
    }

}

@keyframes transform {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    50% {
        transform: scale(1.25);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes transform-reverse {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(0);
    }
}