#movePlayerOne,
#movePlayerTwo {
    border-radius: 15px;
    padding: 10px;
    white-space: nowrap;
    user-select: none;
    position: absolute;
    width: auto;
    top: -27%;
    box-shadow: 0 0 5px var(--tail-color);
    
}

#movePlayerOne {
    left: 70%;
    transform-origin: bottom left;
    z-index: 2;
}

#movePlayerTwo {
    right: 70%;
    transform-origin: bottom right;
    z-index: 2;
}

#movePlayerOne::before,
#movePlayerTwo::before {
    content: "";
    display: block;
    /* bottom: -20px; */
    /* bottom: var(--tail-position); */
    position: absolute;
    border-style: solid;
    border-width: 15px;
    border-color: var(--tail-color) transparent transparent var(--tail-color);
    transition: bottom 0.25s, border-color var(--color-scheme-change) ease-out, color var(--color-scheme-change) ease-out;
    z-index: -1;
}

#movePlayerOne::before {
    transform: skew(-10deg);
    left: 5px;
    bottom: var(--position1);
}

#movePlayerTwo::before {
    transform: scaleX(-1) skew(-10deg);
    right: 5px;
    bottom: var(--position2);
}


#movePlayerOne.animate-in,
#movePlayerTwo.animate-in {
    animation: transform 0.5s ease;
    animation-fill-mode: forwards;
}

#movePlayerOne.animate-out,
#movePlayerTwo.animate-out {
    animation: transform-reverse 0.25s ease;
    animation-fill-mode: forwards;
}

.resContainer {
    /* display: none; */
    align-items: center;
    position: absolute;
    top: 20%;
    text-align: center;
    line-height: 1;
}

.menu {
    display: flex;
    justify-content: center;
    height: 100%;
    padding: 5px;
    user-select: none;
    /* opacity: 0; */
}


#result {
    bottom: 5px;
    font-size: 30px;
}

#playAgain, #newGame {
    font-size: smaller;
    text-decoration: underline;
    transition: 0.2s ease;
}

#playAgain:hover {
scale: 1.2;
}

#newGame {
    bottom: 5px;
}

#newGame:hover {
scale: 1.2;
}

@keyframes transform {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    
    50% {
        transform: scale(1.25);
    }
    
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes transform-reverse {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    
    100% {
        opacity: 0;
        transform: scale(0);
    }
}

@keyframes appear {
    
    from {
        opacity: 0;
        transform: scale(0);
    }
    
    to {
        opacity: 1;
        transform: scale(1);
    }
}

