.moves {
    border-radius: 15px;
    padding: 10px;
    white-space: nowrap;
    user-select: none;
    position: absolute;
    width: auto;
    top: -27%;
    transition: border-color var(--color-scheme-change) ease-out;
    /* box-shadow: 0 0 5px var(--tail-color); */
}

#movePlayerOne {
    left: 70%;
    transform-origin: bottom left;
}

#movePlayerTwo {
    transform: scaleX(-1);
    right: 70%;
    transform-origin: bottom right;
}

#movePlayerOne::before,
#movePlayerTwo::before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 20px 20px 0 0px;
    border-color: var(--tail-color) transparent transparent var(--tail-color);
    bottom: -24px;
    transition: border-color var(--color-scheme-change) ease-out;
}

#movePlayerOne::before {
    transform: skew(-10deg);
    left: 7px;
}

#movePlayerTwo::before {
    transform: scaleX(-1) skew(-10deg);
    right: 7px;
}


#movePlayerOne.animate-in,
#movePlayerTwo.animate-in,
#resContainer.animate-in {
    animation: transform 0.5s ease;
    animation-fill-mode: forwards;
}

#movePlayerOne.animate-out,
#movePlayerTwo.animate-out,
#resContainer.animate-out {
    animation: transform-reverse 0.25s ease;
    animation-fill-mode: forwards;
}

#resContainer {
    position: absolute;
    top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
    line-height: 1;
    z-index: 1;
}

#result {
    font-size: 32px;
    padding: 10px;
}

.menu {
    padding: 7px;
    text-align: center;
    width: 100%;
    font-size: smaller;
    transition: 0.2s ease;
    text-decoration: underline;
}

.menu:hover {
    scale: 1.2;
}

#descriptionBox {
    position: absolute;
    top: auto;
    max-height: 500px;
    width: 70%;
    max-width: 300px;
    justify-self: center;
    z-index: 10;
    /* border: 1px solid red; */
    background-color: var(--text-color);
    transition: 
    background-color var(--color-scheme-change) ease-out, 
    scale 0.5s ease-in-out;
    opacity: 90%;
    border-radius: 10px;
}

#gameDescription {
    /* border: 1px solid red; */
    display: block;
    position: relative;
    word-wrap: break-word;
    white-space: pre-wrap;
    padding: 20px;
    max-height: 500px;
    color: var(--bg-color);
    font-size: larger;
    line-height: 1.5;
    user-select: none;
    overflow: auto;
}

#descriptionBox #closeButton {
    position: fixed;
    padding-left: 5px;
    /* border: 1px solid red; */
    aspect-ratio: 1/1;
    color: var(--bg-color);
    text-align: center;
    justify-content: center;
    user-select: none;
    font-size: x-large;
    height: 40px;
    top: 0;
    right: 0;
    z-index: 20;
}

#descriptionBox.slide-in {
    scale: 1;
}

#descriptionBox.slide-out {
    scale: 0;
}

#one, #two {
    transition: transform 1s ease-in-out, scale 1s ease-in-out;
}

#one.slide-in2 {
    scale: 1;
    transform: translate(0, 0)

}
#two.slide-in2 {
    scale: 1;
    transform: translate(0, 0);

}
#one.slide-out2 {
    scale: 3;
    transform: translate(-300px, -10px)
}
#two.slide-out2 {
    scale: 3;
    transform: translate(300px, -10px);

}

@media only screen and (max-width: 450px) {

    .person__name {
        font-size: 22px;
        line-height: 1.2;
        user-select: none;
    }

    #motya {
        right: 100px;
        margin: auto;
    }

    #vanya {
        left: 100px;
        margin: auto;
    }

    #name_motya {
        position: absolute;
        text-align: left;
        top: 72px;
        left: 100px;
    }

    #name_vor {
        position: absolute;
        text-align: right;
        bottom: 166px;
        right: 100px;
    }


    #movePlayerOne {
        top: 72%;
        left: auto;
        left: 30%;
        transform-origin: top left;
    }

    #movePlayerTwo {
        top: -20%;
        right: auto;
        right: 20%;
        transform-origin: bottom right;
    }

    #movePlayerOne::before {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 20px 20px 0 0px;
        border-color: var(--tail-color) transparent transparent var(--tail-color);
        left: auto;
        left: 18px;
        bottom: auto;
        bottom: -21px;
        transform: scaleX(-1) skew(-10deg) translateY(-4rem) rotate(180deg);

    }


    #resContainer {
        top: 288px;
        font-size: large;
    }

    #result {
        font-size: 42px;
        padding: 7px;
    }

}

@keyframes transform {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    50% {
        transform: scale(1.25);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes transform-reverse {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(0);
    }

}

