/* CSS HEX */
:root {--ecru-white: #f3efdf;
--fuscous-gray: #5a574c;
--mikado: #221c0c;
--soya-bean: #5c5444;
--taupe: #4a4535;
--nomad: #bcb4a4;
--fuscous-gray: #545444;
--eagle: #bcbcac;
--rangitoto: #3c3c28;}