*, *::after, *::before {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: imnherit;
}

html {
    --color-scheme-change: 0.3s;
    /* color-scheme: dark light; */
    min-width: 250px;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color var(--color-scheme-change) ease-in-out, color var(--color-scheme-change) ease-in-out;
    -webkit-transition: background-color var(--color-scheme-change) ease-in-out, color var(--color-scheme-change) ease-in-out;
}

body {
    font-size: 1.25rem; 
    line-height: 1.9rem;
    padding: 1rem 0;
    font-family: 'Roboto Mono', monospace;
    height: 100svh;
    position: relative;
}

.people {
    font-size: 0.8rem;
    letter-spacing: 0.04rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    max-width: 700px;
    /* min-width: 500px; */
    margin-inline: auto;
    padding-block: 2vh 3vh;
    padding-inline: 15px;
    height: 85svh;
    /* border: 2px solid; */
    
}

img {
    max-width: 100%;
    display: block;
    pointer-events: none;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.person {
    --transform-speed: 250ms;
    position: relative;
    max-width: 10rem;
    margin-inline: auto;
    /* flex: 1 1; */
    /* border: 2px solid; */
}

.person__container {
    /* background: pink; */
    aspect-ratio: 1/1.15;
    display: grid;
    align-items: end;
    border-radius: 0 0 100vw 100vw;
    overflow: hidden;
    position: relative;
    transition: transform var(--transform-speed) ease-in-out;
    -webkit-transition: transform var(--transform-speed) ease-in-out;
    /* border-bottom: 2px solid; */
}

.person__container.touched {
    transform: scale(1.1);
}

.person__circle {
    position: absolute;
    inset: auto 0 0;
    width: 100%;
    aspect-ratio: 1 / 1;
    margin-inline: auto;
    border-radius: 50%;
    object-fit: cover;
    filter: blur(1px);
    /* border: 2px solid; */
    border-bottom: 2px solid black;
}

.person__img {
    /* border: 2px solid; */
    left: -5px;
    bottom: -5px;
    position: relative;
    z-index: 2;
    transform: scale(1.1);
    /* filter: drop-shadow(0 0 2px #272737); */
    transition: 
        transform calc(var(--transform-speed) * 1.5) ease-in-out,
        filter calc(var(--transform-speed) * 1.5) ease-in-out;
    -webkit-transition:
        transform calc(var(--transform-speed) * 1.5) ease-in-out,
        filter calc(var(--transform-speed) * 1.5) ease-in-out;
}

.person__container.touched .person__img {
    transform:
        scale(1.3)
        translateY(-1.1rem);
    filter: drop-shadow(0 0 1px #272737);
}

.person__info {
    margin-block: 20px;
    text-align: center;
    text-transform: uppercase;

}

.toggle {
    font-size: 1rem;
    margin-inline: auto;
    display: block;
    position: relative;
    width: 60px;
    height: 30px;
    border-radius: 15px;
    /* background-color: #ccc; */
    cursor: pointer;
    border: 1px solid;
  }

  /* .toggle::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: white;
    transition: transform 0.3s ease-in-out;
    -webkit-transition: transform 0.3s ease-in-out;
    z-index: 1;
  } */

  .toggle.on .fas {
    transform: translateX(30px) 
               rotate(50deg);
  }

  .toggle.on .fa-sun {
    opacity: 1;
  }

  .toggle.on .fa-moon {
    opacity: 0;
  }

  .toggle.off .fa-sun {
    opacity: 0;
  }

  .toggle.off .fa-moon {
    opacity: 1;
  }

  .fas {
    position: absolute;
    top: 5.6px;
    left: 6px;
    transition:
      transform var(--color-scheme-change)  ease-in-out,
        opacity calc(var(--color-scheme-change)* 1.2) ease-in-out;
    -webkit-transition:
      -webkit-transform var(--color-scheme-change)  ease-in-out,
        opacity calc(var(--color-scheme-change)* 1.2) ease-in-out;
    z-index: 1;
  }
 .fa-sun {
    /* position: relative; */
    color: rgb(245, 147, 0);
    font-size: 1.1rem;
    text-shadow:0px 0px 1px rgb(255, 153, 0);
  }

  .fa-moon {
    /* position: relative; */
    color: #7777cc;
    top: 6.1px;
  }

  footer::before {
    content: 'сайт московского шахматного клуба в разработке';
    font-size: 0.8rem;
    text-align: center;
    position: absolute;
    bottom: 40px;
    width: 100%;
  }

  @media (hover: hover) {
    .person__container:hover .person__img {
        transform:
            scale(1.3)
            translateY(-1.1rem);
        -webkit-transform:
            scale(1.3)
            translateY(-1.1rem);
        filter: drop-shadow(0 0 1px #272737);
    }

    .person__container:hover {
        transform: scale(1.1);
    }

  }


  @media only screen and (max-width: 450px) {
    .people {
        font-size: 0.6rem;
        letter-spacing: 0.03rem;
        line-height: 1.2rem;
        flex-direction: column;
        margin-top: 0px;
    }
    footer::before {
        margin-bottom: -10px;
        content: 'сайт мосшахклуба в разработке';
    }
  }

  @media only screen and (max-height: 700px){
    .person {
        max-width: 9rem;
    }
    .people {
        font-size: 0.7rem;
        letter-spacing: 0.04rem;
        line-height: 1.3rem;
        margin-top: 10px;
    }
    }

  @media only screen and (max-height: 500px) {
    .person {
        max-width: 8.5rem;
    }

    .people {
        font-size: 0.6rem;
        letter-spacing: 0.03rem;
        line-height: 1.2rem;
        margin-top: -30px;
    }

    footer::before {
        margin-bottom: -10px;
    }

    .person__container.touched .person__img {
        transform:
            scale(1.1)
            translateY(-1.1rem);
        -webkit-transform:
            scale(1.1)
            translateY(-1.1rem);
}

@media only screen and (max-width: 350px) {
    .person {
        max-width: 5.5rem;
    }

    .person__info {
        margin-top: 10px;
    }

    .people {
        font-size: 0.4rem;
        letter-spacing: 0.03rem;
        line-height: 0.8rem;
        margin-top: 0px;
    }

    footer::before {
        margin-bottom: -20px;
    }

    .person__container.touched .person__img {
        transform:
            scale(1.1)
            translateY(-1.1rem);
        -webkit-transform:
            scale(1.1)
            translateY(-1.1rem);
}